.toggleAll {
    /* display: none; */
    width: 100vw;
    height: 0px;
    overflow: hidden;
    background: #FFFFFF;
    position: fixed;
    left: 0;
    top: 51px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.16) inset;
    transition: height .2s linear;
    z-index: 10;
}
.toggleAll_box {
    width: 1200px;
    min-width: 1200px;
    height: 100%;
    margin: 20px auto;
    line-height: 1;
}
.toggleAll_boxLeft {
    /* margin-top: 15px; */
    float: left;
    width: 402px;
    height: 100%;
}
.toggleAll_boxLeft h3{
  text-align: left;
}
.toggleAll_boxRight {
    border-left: 1px solid #E1E7F6;
    float: left;
    padding-left: 64px;
    height: 100%;
    margin: 0 0;
    /* padding-bottom: 5px; */
}
.toggleAll_box a {
  display: inline-block !important;
}
#company-sever:hover > .toggleAll{
  height: 376px;
  transition: height .5s linear;
}

.go-top {
    position: fixed;
    right: 2px;
    bottom: 2px;
    z-index: 99998;
    cursor: pointer;
    width: 40px;
    height: 37px!important;
    text-align: center;
    white-space: normal;
    font-size: 14px;
    line-height: 17px;
    padding-top: 3px;
    color: #fff;
    background: #404040;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEkAAAAXCAYAAABH92JbAAAAGXRFW…LZQRwDUVqwjuTS9q3VRB8C1OQUnM6UqdXX/IcADn0IMADs2AqDOPSutQAAAABJRU5ErkJggg==) no-repeat -42px center #666;
}
/* 更多服务 */
.more-service {
  /* background: #FAFAFA; */
  width: 1060px;
  min-width: 1060px;
  text-align: center;
  padding: 20px 0;
  margin: 0 auto;
  box-sizing: border-box;
}

.more-service .more-ser-list {
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}
.more-ser-list .index_more_service_item {
    width: 340px;
    height: 385px;
    background: #FFFFFF;
    border-radius: 0;
    margin: 0 auto;
    margin-right: 20px;
    padding: 0 25px;
    background-position: center 0;
    background-repeat: no-repeat;
    background-image: url('https://www.51shebao.com/statics/output/images/v6_images/index/zonghe.png');
    background-size: 340px 140px;
    box-shadow: 0px 1px 4px 0px #dcdce9;
}
.index_more_service_item:nth-child(2) {
  background-image: url('https://www.51shebao.com/statics/output/images/v6_images/index/canbaojin.png');
}
.index_more_service_item:last-child {
  margin-right: 0px;
}
.index_more_service_item a {
    margin: 30px auto 0;
    text-decoration: none;
}
.index_more_service_item h4 {
    font-size: 32px;
    color: #4A4A4A;
    font-family: PingFangSC-Regular;
    text-align: left;
    margin: 0 auto;
    font-family: PingFangSC-Light;
    margin: 45px 0 76px;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
}
.index_more_service_item p {
    font-size: 15px;
    color: #4A4A4A;
    font-family: PingFangSC-Regular;
    text-align: left;
    margin: 0 auto;
    line-height: 34px;
}
.button_white {
    display: block;
    width: 152px;
    height: 48px;
    line-height: 48px;
    border-radius: 3px;
    background-color: #FF5B5F;
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
    font-family: PingFangSC-Regular;
    border: 1px solid #FF5B5F;
    cursor: pointer;
    background-color: #FFFFFF;
    color: #FF5B5F;
    font-size: 16px;
}
.button_white:hover {
  background-color: #F34C50;
  color: #FFFFFF;
}
@media (min-width: 992px) {
  .more-service {
      padding: 80px 0 35px;
    }
  .more-service .more-ser-list .more-ser-item {
      margin: 0 15px;
  }
  .child-title{
      margin-bottom: 45px;
  }
}
/* 高效服务 */
.gaoxiao-server{
  width: 100%;
  background-color: #FBFBFF;
  height: 510px;
  overflow: hidden;
}
.index_list_item {
  margin: 0 auto;
  width: 1060px;
  min-width: 1060px;
  padding: 100px 0;
}
.index_list_item_title {
  font-size: 34px;
  color: #4A4A4A;
  font-family: PingFangSC-Regular;
  text-align: center;
  margin: 0 auto;
  font-family: PingFangSC-Light;
  margin-bottom: 60px;
}
.index_jilei_item {
  width: 265px;
  margin: 0 auto;
}
.index_jilei_item .top_bg {
  width: 88px;
  height: 88px;
  background: #FFFFFF;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0px 2px 28px 0px rgba(0, 0, 66, 0.08);
  border: 1px solid #FFFFFF;
  position: relative;
}
.index_jilei_item .top_bg img {
  width: 32px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.index_jilei_item h4 {
  font-size: 18px;
  color: #333333;
  font-family: PingFangSC-Regular;
  text-align: center;
  margin: 0 auto;
  margin: 43px auto 12px;
  line-height: 30px;
}
.index_jilei_item p, .index_industry_item p {
  font-size: 14px;
  color: #9898A1;
  font-family: PingFangSC-Regular;
  text-align: center;
  margin: 0 auto;
  line-height: 25px;
}
.child-title{
    /* margin-bottom: 25px; */
    font-size:32px;
    /* font-weight:400; */
    color:#333333;
    font-family: PingFangSC-Light;
}
@media (min-width: 992px) {
  .my-service {
      padding: 80px 0 35px;
    }
  .my-service .ser-list .ser-item {
      margin: 0 15px;
  }
  .child-title{
      margin-bottom: 45px;
  }
}

  /*联系我们*/
  .us .list {
    overflow: hidden;
  }

  .us .list .gs-address {
    /* width:550px; */
    width: 464px;
    height: 501px;
    float: left;
    margin: 36px 25px 110px 205px;
  }

  .us .list .address {
    display: inline-block;
    float: left;
    padding-top: 30px;
  }

  .us .list .address p {
    font-size: 12px;
    line-height: 22px;
  }
.dis-block{
  display: block;
}
.feature .lead{
  margin-top: 40px;
}
.feature .feature-heading{
  margin-top: 40px;
}