.swiper-container-horizontal>.swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction {
    bottom: 100px;
    left: 0;
    width: 100%
}
.swiper-pagination-bullet{
    width: 15px;
    height: 15px;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 7px;
}